@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

$azure: #0290ff;
$black-two: #121212;
$cool-blue: #4386bf;
$warm-gray: #888;
$pinkish-gray: #c4c4c4;
$shadow: rgba(0, 0, 0, 0.05);
$bg-color-app: #fafafa;
$bg-color: #f5f6fa;
$white-color: #fff;
$dodger-blue: #379cf6;

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  max-width: 1600px;
  min-height: 100vh;
  background-color: $bg-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.App {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 $shadow;
  background-color: $bg-color-app;
  padding: 149px 0 265px;

  .title {
    padding: 0 100px;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: #888;
  }
}

.custom-hr {
  height: 2px;
  margin: 40px 100px 29px;
  border: 1px solid #e8e8e8;
  display: block;
}

button {
  cursor: pointer;
}

/* Header section */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  margin: 0 0 38px;
  padding: 23px 99px 27px 100px;
  background-color: $white-color;
  border-bottom: 2px solid #e8e8e8;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;

    #logo {
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $azure;
    }

    .nav-links {
      a {
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.9px;
        color: $black-two;
      }

      .books {
        margin: 0 41px 0 47px;
      }

      .categories {
        opacity: 0.5;
      }
    }
  }

  .user {
    width: 45px;
    height: 45px;
    padding: 14px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
    color: $azure;
  }
}

/* Book list section */
.books-list {
  article {
    display: flex;
    align-items: center;
    height: 170px;
    padding: 32px 147px 26px 27px;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: $white-color;

    .vertical-line-big {
      width: 2px;
      height: 70px;
      border: 1px solid #e8e8e8;
      display: block;
    }

    .vertical-line-sm {
      width: 2px;
      height: 24px;
      margin: 12px 17px 0 15px;
      border: 1px solid #e8e8e8;
      display: block;
    }
    
    &:first-child {
      margin: 37px 100px 0;
    }

    &:last-child {
      margin: 15px 100px 37px;
    }

    &:not(:first-child) {
      margin: 15px 100px 0;
    }

    .book-details {
      flex-basis: 50%;

      h5 {
        opacity: 0.5;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $black-two;
      }

      ul {
        display: flex;
        align-items: center;
        margin-top: 21px;
      }
    }

    .progress-stats {
      display: flex;
      flex-basis: 20%;

      .oval {
        width: 68px;
        height: 68px;
        border-style: solid;
        border-width: 5px;
        border-image-source: linear-gradient(to bottom, $cool-blue, $dodger-blue);
        border-image-slice: 1;
        display: block;
        margin-right: 21px;
      }
    }

    .progress-update {
      margin-left: auto;
    }
  }
}

/* add new book section */
.add-book {
  margin: 37px 100px 265px;

  h2 {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.18px;
    color: $warm-gray;
  }

  form {
    display: flex;
    align-items: center;

    div:first-child {
      flex-basis: 47%;
      height: 45px;
      margin: 19px 34px 0 0;
      padding: 13px 10px 13px 17px;
      border-radius: 4px;
      border: 1px solid#e8e8e8;
      background-color: $white-color;

      input {
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.15px;
        color: $pinkish-gray;
  
        &::placeholder {
          color: $pinkish-gray;
        }
      }
    }

    div:not(:first-child) {
      select {
        width: 285px;
        height: 45px;
        margin: 19px 34px 0 0;
        padding: 6px 15px 9px 16px;
        border-radius: 4px;
        border: 1px solid #e8e8e8;
        background-color: $white-color;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.15px;
        color: $pinkish-gray;
      }

      button {
        width: 184px;
        height: 45px;
        margin: 19px 0 0;
        padding: 12.8px 19px 14.2px 22px;
        border-radius: 3px;
        background-color: $azure;
        font-family: RobotoSlab;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 0.5px;
        color: $white-color;
        transition: all 0.5s ease;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
