@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */

* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  width: 100%;
  text-align: center;
}

.books-list {
  margin: 0 auto;
}

button {
  cursor: pointer;
}
