@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300;700&display=swap');

$azure: #0290ff;
$black-two: #121212;
$Cool-blue: #4386bf;
$Warm-grey: #888;
$pinkish-gray: #c4c4c4;
$shadow: #fafafa;
$bg-color: #f5f6fa;
$white-color: #fff;
$dodger-blue: #379cf6;

/* font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif; */

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: $bg-color;
  max-width: 1600px;
  min-height: 100vh;
}

.App {
  max-width: 1400px;
  /* height: 1097px; */
  /* margin: 0 40px 65px 0; */
  /* padding: 0 0 794px; */
  border-radius: 4px;
  box-shadow: 0 0 60px 0 var(--black-5);
  background-color: #f5f6fa;

  .custom-hr {
    max-width: 1200px;
    height: 2px;
    margin: 40px auto 29px;
    border: solid 1px #e8e8e8;
    display: block;
  }
}

.books-list {
  max-width: 1400px;

  article {
    width: 1200px;
    height: 170px;
    margin: 37px auto;
    padding: 32px 147px 26px 27px;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: #fff;
    display: flex;
    justify-content: space-between;

    .vertical-line {
      width: 2px;
      height: 70px;
      margin: 18px 59px 0 79px;
      border: solid 1px #e8e8e8;
    }
      .book-info {
        .mini-footer {
          display: flex;
          list-style: none;

          .line-1 {
            width: 2px;
            height: 24px;
            margin: 12px 17px 0 15px;
            border: solid 1px #e8e8e8;
          }
        }
      }
  }

  .oval-loading {
    width: 68px;
    height: 68px;
    border-style: solid;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom, $Cool-blue, $dodger-blue);
    border-image-slice: 1;
  }
}

button {
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  background-color: $white-color;
  height: 95px;
  margin-top: 149px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
      font-family: Montserrat;
      font-size: 30px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: $azure;
    }

    .nav-links {
      a {
        display: inline-block;
        margin: 0 20px;
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1.9px;
        color: $black-two;
      }
      .categories {
        opacity: 0.5;
        margin-left: 0;
      }
    }
  }

  .user {
    width: 45px;
    height: 45px;
    padding: 14px;
    border: solid 1px #e8e8e8;
    border-radius: 50%;
    font-size: 17px;
    color: $azure;
  }
}

.add-book {
  width: 1200px;
  margin: 0 auto;

  form {
    input {
      width: 664px;
      height: 45px;
      margin: 19px 34px 0 0;
      padding: 13px 571px 13px 17px;
      border-radius: 4px;
      border: solid 1px #e8e8e8;
      background-color: $white-color;
    }
  }
}